header {
  background-color: #0c0c0c;
  border-bottom: 1px solid #c026d3;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.logo h1 {
  color: #c026d3;
  font-size: 2.3rem;
  font-weight: 720;
  line-height: 1.2;
  font-family: "Orbitron", monospace;
  letter-spacing: 0.05em;
  padding: 10px 0;
}

.logo p {
  color: #9bebff;
  font-size: 0.9rem;
}
